.contact {
  &__form {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;

    @include breakpoint-up(medium) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__fields {
    

    @include breakpoint-up(medium) {
      width: 60%;
      margin-left: 20px;
    }
  }

  &__field {
    width: 100%;
    padding: 1rem 0;
    font-size: 1.2rem;
    background: none;
    border: none;
    border-bottom: 1px solid #ddd;
    outline: none;
    transition: border-color .2s;
  }

  &__field:focus {
    border-bottom-color: $darkOrange;
  }

  &__button {
    margin-top: 1.25rem;
    text-align: right;
  }

  .btn {
    color: $darkBlue;
    font-size: 1rem;
    text-transform: uppercase;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    transition: color .2s;
  }

  .btn:hover {
    color: $darkOrange;
  }  
}