.work {
  &__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.875rem;
    padding: 0;

    @include breakpoint-up(medium) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include breakpoint-up(large) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__item {
    border-radius: 0.3125rem;
    overflow: hidden;
    background-color: $white;
    box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.15);
    transition: all 150ms ease-in-out;

    @include breakpoint-up(medium) {
      &:hover {
        transform: scale(1.05);
      }
    }
  }

  &__image {
    // height: 12.5rem;
    width: 100%;
  }

  &__text {
    padding: 0.975rem 1.875rem 0.975rem 1.875rem;
    color: $grayishBlue;

    @include breakpoint-up(medium) {
      padding: 0.975rem 1.5625rem;
    }
  }

  &__author {
    font-size: 0.625rem;
    margin-bottom: 0.75rem;
  }

  &__title {
    font-size: $font-med;
    font-weight: 400;
    line-height: 1.2;
    color: $darkBlue;
    margin-bottom: 0.5rem;
  }

  &__description {
    font-size: $font-med;
    margin-bottom: 1.75rem;
  }

  &__icons {
    font-size: 1.2rem;
  }

  &__links {
    display: flex;
    justify-content: flex-end;

    span {
      margin: 0 0.5rem;
    }
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.75rem;
  }
}

.tooltip {
  position: relative;
}
.tooltip:before,
.tooltip:after {
  display: block;
  opacity: 0;
  pointer-events: none;
  position: absolute;
}
.tooltip:after {
  border-right: 6px solid transparent;
  border-top: 6px solid rgba(0, 0, 0, 0.75);
  border-left: 6px solid transparent;
  content: "";
  height: 0;
  bottom: 20px;
  left: 0;
  width: 0;
}
.tooltip:before {
  background: rgba(0, 0, 0, 0.75);
  border-radius: 2px;
  color: #fff;
  content: attr(data-title);
  font-size: 0.75rem;
  padding: 6px 10px;
  bottom: 26px;
  white-space: nowrap;
}
.tooltip.fade:after,
.tooltip.fade:before {
  transform: translate3d(0, -10px, 0);
  transition: all 0.15s ease-in-out;
}
.tooltip.fade:hover:after,
.tooltip.fade:hover:before {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
